@import url('/assets/css/common.css');

header {
    padding: 0 80px;
    height: 80px;
    a {
     color: inherit;
     text-decoration: none;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        .logo {
        }
        li {
            display: flex;
            flex-direction: column;
            gap: 80px;
            color: var(--Black-01);
            font-weight: 500;
            font-size: 1.8rem;
            .sub-menu {
                display: flex;
                flex-direction: column;
            }
            a {

            }
        }
        .util {

        }
    }


}
